/* Pseudoelementos after y before

Pseudoelementos: Se utilizan para dar estilos a partes específicas de un elemento seleccionado

Se llaman pseudoelementos porque permiten insertar contenido en la página, como si fueran elementos del 
propio HTML, no obstante, no existen en el HTML y, por consecuencia, no existen en el DOM.

Se pueden utilizar los pseudoelementos ::before y ::after para imprimir contendido o para utilizarlos 
como “divs” vacíos y hacer todo tipo de diseños, adornos etc. 

NOTA: La sintaxis para indicar los pseudoelementos requiere el uso de :: (dos puntos dobles). 
Sin embargo, en navegadores muy antiguos se usaba solamente : Por ello, los navegadores siguen aceptando 
usar : por temas de compatibilidad.


*/

/* -------- General Styles -------- */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.main-title {
    text-align: center;
}


/* ---- Section Styles ---- */


.section {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}


/* ---- Price Section Styles ---- */


.price {
    font-size: 4rem;
}

.price::before {
    content: '$';
    color: royalblue;
}

.price::after {
    content: '.00';
}


/* ---- Tooltip Section Styles ---- */


.tooltip {
    display: inline-block;
    font-weight: bold;
    color: purple;
    position: relative;
}

.tooltip::after {
    width: 100%;
    content: attr(data-content);
    padding: 5px 15px;
    font-size: 1.3rem;
    color: #FFFFFF;
    background: #566573;
    border-radius: 5px;
    position: absolute;
    top: -180%;
    left: -6%;
    opacity: 0;
    transition: all 300ms;
}

.tooltip:hover::after {
    opacity: 1;
}


/* ---- Character Section Styles ---- */


.character {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.character__image {
    width: 250px;
}

.dialog {
    width: 70%;
    padding: 10px 20px;
    font-size: 1.4rem;
    color: #FFFFFF;
    font-style: italic;
    background-color: dodgerblue;
    border-radius: 10px;
    position: relative;
}

.dialog::before {
    content: '';
    display: block;
    border-top: 40px solid dodgerblue;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -60px;
    right: calc(50% - 20px);
}


/* ---- List Section Styles ---- */


.list {
    list-style-type: none;
    margin: 20px;
}

.list__item {
    margin-bottom: 10px;
}

.list__item::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rebeccapurple;
}


/* ---- Sphere Section Styles ---- */


.sphere {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle,black 10%, dodgerblue);
    position: relative;
}

.sphere::after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px black;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
}


/* ---- Image Section Styles ---- */


.image-container {
    width: 480px;
    height: 328px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid rebeccapurple;
    position: relative;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
}

.image-container::after {
    content: 'Perritos tiernos';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 103, 123, 0.5);
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 328px;
    color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
    position: absolute;
    top: 0;
    left: 0%;
}

.image-container:hover::after {
    opacity: 1;
    visibility: visible;
    animation: move-left 500ms linear;
}

@keyframes move-left {
    from {
      left: -100%
    }
  
    to {
      left: 0%;
    }
  }